.testimonials {
    padding-top: 126px;
    padding-bottom: 126px;

    #slides {

        .slidesjs-pagination {
            margin-top: 24px;
            list-style: none;
            text-align: center;
            -webkit-padding-start: 0px;

            li {
                display: inline;
                margin: 0 5px;

                a {
                    position: relative;
                    height: 9px;
                    width: 9px;
                    color: #f1f1f1;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: #cccccc;
                    }
                }

                .active:before {
                    background-color: #333333;
                }
            }
        }

        article {
            text-align: center;
            margin-top: 72px;

            .testimonials-icon {
                width: 70px;
                margin-bottom: 19px;
            }

            .testimonials-logo {
                width: 80px;
                margin-top: 35px;
                margin-bottom: 32px;
                border-radius: 50%;
            }

            h4 {
                text-align: center;
                color: #5dbdfe;
            }

        }
    }
}